@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

.accordion__section {
	display: flex;
	flex-direction: column;
}

.accordion {
	background: rgba(0, 0, 0, 0);
	color: #d0d0d0;
	cursor: pointer;
	padding: 10px 16px;
	display: flex;
	align-items: center;
	border: none;
	outline: none;
}

.accordion:hover {
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.1);
	color: #f9f9f9;
}

.accordion:hover .artist-name {
	color: #f9f9f9;
}

.active {
	border-radius: 5px 5px 0 0;
	background-color: rgba(255, 255, 255, 0.1);
	color: #f9f9f9;
}

.active .artist-name {
	color: #f9f9f9;
}

.active:hover {
	/* conceal lower border radius */
	border-radius: 5px 5px 0 0;
	background-color: rgba(255, 255, 255, 0.1);
}

.accordion__icon {
	margin-left: auto;
	transition: transform 0.5s ease;
}

.rotate {
	transform: rotate(90deg);
}

.accordion__content {
	background-color: rgba(255, 255, 255, 0.1);
	overflow: auto;
	transition: max-height 0.5s ease;

	box-sizing: content-box;
	overflow: hidden;

	border-radius: 0 0 5px 5px;

	padding: 0 50px;
}

.accordion__content::-webkit-scrollbar {
	display: none;
}

.ranking {
	font-size: 16px;
	margin-right: 14px;
}

.song-and-artist {
	width: 200px;
	margin-right: 40px;
}

.song-name {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 16px;
	text-align: left;
	color: #f9f9f9;
}

.artist-name {
	font-size: 14px;
	color: #b3b3b3;
	text-decoration: none;

	float: left;
	text-align: left;
}

.artist-name:hover {
	text-decoration: underline;
}

.song-image {
	height: 3em;
	margin-right: 16px;
}

.album-name {
	font-size: 14px;
	width: 160px;
	margin-right: 70px;

	text-align: left;
}

.case {
	text-align: center;
	margin-right: 40px;
	width: 75px;

	padding: 4px 4px;
	border-radius: 3px;
	color: white;
	font-weight: 600;
	font-size: 12px;
}

.worst {
	margin-right: 0;
}

.chevron {
	margin-left: 10px;
}
