@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

.header {
	padding: 0 16px;
	font-family: 'Open Sans', sans-serif;
	color: #a5a5a5;
	letter-spacing: 1px;
	font-size: 12px;
	font-weight: 600;
	padding-bottom: 8px;
	border-bottom: 1.5px solid rgb(63, 63, 63);
}

.header button {
	background: none;
	border: none;
	color: #a5a5a5;
	letter-spacing: 1px;
	font-size: 12px;
	font-weight: 600;
	outline: none;
}

.header button:hover {
	color: #f9f9f9;
}

.header button:nth-child(1):hover {
	color: #a5a5a5;
}

.header button:nth-child(1) {
	margin-right: 14px;
}

.header button:nth-child(2) {
	margin-right: 262px;
}

.header button:nth-child(3) {
	margin-right: 182px;
}

.header button:nth-child(4) {
	margin-right: 83px;
}

.header button:nth-child(5) {
	margin-right: 55px;
}
