.visualizer {
	position: relative;
	width: 360px;
	height: 300px; /* max possible bar height is 300*/
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
	overflow: hidden;
}

.right {
	float: right;
	position: relative;
	height: calc(300px - 20px - 20px);

	margin-top: 40px;
}

.code {
	position: relative;
	width: 390px;
	max-width: 390px;
	display: inline-block;

	background: rgba(156, 160, 202, 0.3);

	border-radius: 3px;
}

.code pre {
	font-family: 'Courier New', monospace;
	font-size: 14px;
	margin: 10px 10px;
	color: white;
}

.button-group {
	position: absolute;
	bottom: 0;
}

.button-group button {
	background: #7c83b6;
	color: #f2f3ec;
	padding: 10px 24px;
	min-width: 180px;
	display: inline-block;

	cursor: pointer;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
	border: none;
}

.button-group button:first-child {
	margin-right: 30px;
}

.button-group button:hover {
	opacity: 0.85;
}
